.image {
  min-width: 270px;
  min-height: 350px;
  max-width: 270px;
  max-height: 350px;
}

.hero-container { 
  padding: 1rem;
}

.hero-wrapper { 
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
  img { 
    padding: 1rem;
  }
}